.chart {
  width: 46vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
}
@media screen and (max-width: 800px) {
  .chart {
    width: 100%;
  }
}
